@model GorevUpdateDto

<form asp-action="GuncelleGorev" method="post" class="w-75 mx-auto p-3">
    <input type="hidden" asp-for="@Model.id" />
    <div class="form-group">
        <label>Ad</label>
        <span asp-validation-for="Ad" class="text-danger"></span>
        <input type="text" asp-for="Ad" class="form-control" />
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
        <textarea type="" asp-for="Aciklama" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Aciliyet Durumu Seçiniz</label>
        <span asp-validation-for="AciliyetId" class="text-danger"></span>
        <select type="" asp-for="AciliyetId" class="form-control" asp-items="ViewBag.Aciliyetler">
            <option hidden value="-1">Seçiniz</option>
        </select>
    </div>
    <button type="submit" class="btn btn-info btn-sm"><i class="far fa-save mr-2"></i> Kaydet</button>
    <a class="btn btn-warning btn-sm" asp-action="GorevVazgec"><i class="fas fa-arrow-left mr-2"></i> Vazgeç</a>
</form>
@section JavaScript {
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}