<div class="row mt-5">
    <div class="col-md-12">
        <p class="display-3 lead text-danger"> Bir hata oluştu. Teknik Ekip Tarafından Kontrol Edilecek.</p>
        @*<br />
        Hatanın oluştuğu dizin : @ViewBag.ErrorPath
        <br />
        Hata Mesajı : @ViewBag.ErrorMessage*@ 
    </div>
</div>        