@{
    string active = TempData["Active"]?.ToString();
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test</title>

    <!-- Bootstrap core CSS -->


    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" /> 
    <!-- Custom styles for this template -->
    <link href="~/lib/template-css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/Awesome/css/all.min.css" rel="stylesheet" />


</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        @await Component.InvokeAsync("Wrapper")
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <button class="btn btn-outline-primary" id="menu-toggle"><i class="fas fa-sliders-h"></i> Menü</button>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script> 
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/Awesome/js/all.min.js"></script>

    @RenderSection("JavaScript", false)
    <!-- Menu Toggle Script -->
<script>
        $(document).ready(function () {
        if ('@active' =='Aciliyet') {
            $("#a_AciliyetListe").addClass("active");
        } else if ('@active' =='Gorev') {
            $("#a_GorevIslem").addClass("active");
        }
        else if ('@active' =='IsEmri') {
            $("#a_IsEmri").addClass("active");
            }
        else if ('@active' =='Profil') {
            $("#a_Profil").addClass("active");
            }
        else if ('@active' =='Bildirim') {
            $("#a_Bildirim").addClass("active");
            }
        else if ('@active' == 'Anasayfa') {
            $("#a_Anasayfa").addClass("active");
            }
        else if ('@active' == 'Grafik') {
            $("#a_Grafik").addClass("active");
            }
                
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        //$("#DV_Liste a").click(function () {
        //    var activeList = $(this);
        //    $("#DV_Liste a").each(function () {
        //        $(this).removeClass("active");
        //    });
        //    $(activeList).addClass("active");
        //});


</script>

</body>

</html>
