@{
    string active = TempData["Active"]?.ToString();
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test</title>

    <!-- Bootstrap core CSS -->


    <link href="~/lib/bootswatch/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/lib/template-css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/Awesome/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Admin</div>
            <div id="DV_Liste" class="list-group list-group-flush">
                <a id="a_GorevIslem" asp-action="Index" asp-controller="Gorev" class="list-group-item list-group-item-action"><i class="fas fa-tasks mr-2"></i> Görev İşlemleri</a>
                <a id="a_AciliyetListe" asp-action="Index" asp-controller="Aciliyet" class="list-group-item list-group-item-action"><i class="fas fa-exclamation-circle mr-2"></i> Aciliyet Listesi</a>
                <a id="a_IsEmri" asp-action="Index" asp-controller="IsEmri" class="list-group-item list-group-item-action"><i class="far fa-calendar-check mr-2"></i> İş Emri</a>
                <a id="a_Dene2" asp-action="Index" asp-controller="Aciliyet" class="list-group-item list-group-item-action"><i class="fas fa-chart-pie mr-2"></i> Grafikler</a>
                <a id="a_Dene3" asp-action="Index" asp-controller="Aciliyet" class="list-group-item list-group-item-action"><i class="fas fa-chart-line mr-2"></i> İstatistikler</a>
                <a id="a_Profil" asp-action="Index" asp-controller="Profil" class="list-group-item list-group-item-action"><i class="fas fa-user mr-2"></i> Profilim</a>
                <a id="a_Dene3" asp-action="Index" asp-controller="Aciliyet" class="list-group-item list-group-item-action"><i class="fas fa-bell mr-2"></i> Bildirimler</a>
                <a id="a_Dene4" asp-action="Index" asp-controller="Aciliyet" class="list-group-item list-group-item-action"><i class="fas fa-sign-out-alt mr-2"></i> Çıkış Yap</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <button class="btn btn-outline-primary" id="menu-toggle"><i class="fas fa-sliders-h"></i> Menü</button>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/Awesome/js/all.min.js"></script>
    @RenderSection("JavaScript", false)
    <!-- Menu Toggle Script -->
    <script>
        $(document).ready(function () {
        if ('@active' =='Aciliyet') {
            $("#a_AciliyetListe").addClass("active");
        } else if ('@active' =='Gorev') {
            $("#a_GorevIslem").addClass("active");
        }
        else if ('@active' =='IsEmri') {
            $("#a_IsEmri").addClass("active");
            }
        else if ('@active' =='Profil') {
            $("#a_Profil").addClass("active");
        }
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        //$("#DV_Liste a").click(function () {
        //    var activeList = $(this);
        //    $("#DV_Liste a").each(function () {
        //        $(this).removeClass("active");
        //    });
        //    $(activeList).addClass("active");
        //});


    </script>

</body>

</html>
